*{
	box-sizing: border-box;
}
body, html{
	padding: 0;
	margin: 0;
	font-size: 1.4em;
	font-family: 'Marck Script', Arial, cursive;	
}

video {
	position: fixed;
	right: 0;
	bottom: 0;	
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -9999;
}
.main-container {
	text-align: center;
}
audio {	
	position: relative;
	z-index: 3;
	top: 30px;
}

.text {		
	max-width: 600px;
	min-height: 220px;	
	width:50%;
	margin: 5% auto;	
	padding: 30px; 
	text-align: center;
	color: black;
}

.container {	
	position: absolute;
	z-index: 2;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), transparent 95%);	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
	text-align: center;
}
.button {	
	background-color: black;
	color: white;
	height: 50px;
	width: 100px;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
}
.inner-container {		
	min-height: 200px;
}

.top {	
	font-size:0.5em;
	font-family: Arial, sans-serif;
	font-weight: bold;
}
a:hover {	
	color: orange;
}

.top a {
	text-decoration: none;
}
.top a:visited {
	color: black;
}
.top a:hover {
	color: orange;
}

.container a{
	margin-top: 5px;
	display: inline-block;
	text-align: center;	
}


@media (max-width: 1090px){	
	.text {
		padding: 30px 10px;
		width:100%;
	}

	.button {
		width: 60px;
	}	
}
	
}


